/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Mukta', sans-serif;
}

@keyframes popIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}